@if (currentUserId) {
<div class="overflow-y-auto" style="max-height: calc(100vh - 8rem);" #chatContainer>
  @for (entry of entries; track $index) {
  <text-bubble [bubbleText]="entry.title" [isCompleted]="entry.completed"
    (modifyBubble)="modifyEntryServer($event, entry)" (deleteBubble)="deleteEntryServer(entry)"></text-bubble>
  }
  @empty {
  <text-bubble bubbleText="Oh no! There are no entries!"></text-bubble>
  }
</div>

<div class="btm-nav grid grid-cols-12 ps-3 z-10">
  <input type="text" placeholder="Send a text!" class="input input-bordered w-full col-span-11" [(ngModel)]="message"
    maxlength="250" />
  <button [disabled]="message().length == 0 || isLoading" (click)="addEntry()" class="btn btn-ghost text-xl m-3">
    @if (isLoading) {
    <ng-icon name="heroEllipsisHorizontal"></ng-icon>

    }
    @else {
    <ng-icon name="heroPaperAirplane"></ng-icon>
    }
  </button>
</div>
}
@else {

<div class="flex justify-center items-center h-screen">
  <div class="bg-white p-6 rounded shadow-md">
    <h1 class="text-2xl text-center mb-4"> To-Do </h1>

    <input type="text" placeholder="Sincere@april.biz" class="input input-bordered w-full col-span-11" [(ngModel)]="email"
      maxlength="100" />
    <button [disabled]="email.length == 0" (click)="checkEmail()" class="btn btn-ghost text-xl w-full mt-3">Login</button>
  </div>
</div>

}