/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/topography';

html, body {
    height: 100%;
    margin: 0;
  }
  
body {
    @extend .background-topography;
    background-size: cover;
    background-repeat: no-repeat;
  }